/* font-family: 'Roboto', sans-serif; */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-align: center;
    height: 100vh;
}


/* Nav Start */

.nav-container {
    background-color: darkslategray;
    padding: 1em 0;
}

.nav-toggle--container {
    display: flex;
    justify-content: center;
    padding: 0 .25em;
    gap: .25em;
}

.nav-title {
    font-size: 1.125rem;
    font-weight: 700;
}

.mobile-nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    background: #2f6f69;
    color: white;
    transition: opacity 250ms ease;
    position: absolute;
    right: 1.5em;
    top: 1.2em;
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .75;
}

.hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.nav-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .50em;
    padding: 1em 0 0 0;
    margin: 0;
}

.nav-list {
    list-style-type: none;
    visibility: hidden;
    display: none;
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
}

.nav-item {
    border-top: 2px solid black;
    padding: .25em 0;
    margin: 0;
    width: 100%;
}

.nav-link {
    text-decoration: none;
    color: burlywood;
}

.nav-link:hover,
.nav-link:focus {
    opacity: 0.7;
}


/* Nav End */


/* Media Queries */

@media (min-width: 700px) {
    .nav-container {
        display: block;
        position: fixed;
        left: 0;
        border-right: 10px solid gray;
        width: 40%;
        overflow-y: scroll;
        top: 0;
        bottom: 0;
    }
    .mobile-nav-toggle {
        visibility: hidden;
        display: none;
    }
    .nav-list {
        visibility: visible;
        display: block;
    }
    .nav-item {
        padding: .75em 0;
    }
    #main-doc {
        width: 60%;
        position: fixed;
        right: 0;
    }
}