/* font-family: 'Roboto', sans-serif; */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-align: center;
    height: 100vh;
}


/* Nav Start */

.nav-container {
    background-color: darkslategray;
    padding: 1em 0;
}

.nav-toggle--container {
    display: flex;
    justify-content: center;
    padding: 0 .25em;
    gap: .25em;
}

.nav-title {
    font-size: 1.125rem;
    font-weight: 700;
}

#nav-toggle {
    width: 2.5em;
    height: 2.5em;
    background-color: black;
    color: white;
    transition: opacity 250ms ease;
    border: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.hamburger::before,
.hamburger::after {
    height: 2px;
    display: block;
    background: white;
    width: 20px;
    margin: 0 auto;
    position: relative;
}

.hamburger {
    width: 50%;
    position: absolute;
}

.nav-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .50em;
    padding: 1em 0 0 0;
    margin: 0;
}

.nav-list {
    list-style-type: none;
}

.nav-item {
    border-top: 2px solid black;
    padding: .25em 0;
    margin: 0;
    width: 100%;
}

.nav-link {
    text-decoration: none;
    color: burlywood;
}

.nav-link:hover,
.nav-link:focus {
    opacity: 0.7;
}


/* Nav End */


/* Media Queries */

@media (min-width: 700px) {
    .nav-container {
        display: block;
        position: fixed;
        left: 0;
        border-right: 10px solid gray;
        width: 40%;
        overflow-y: scroll;
        top: 0;
        bottom: 0;
    }
    .nav-item {
        padding: .75em 0;
    }
    #main-doc {
        width: 60%;
        position: fixed;
        right: 0;
    }
}