/* font-family: 'Roboto', sans-serif; */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-align: center;
    height: 100vh;
}

.page-container {
    margin: 0 auto;
    max-width: 1200px;
    width: 80%;
}

#backBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: darkslategray;
    color: burlywood;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 50%;
    width: 10%;
    height: 7%;
}

#backBtn:hover {
    opacity: 0.7;
}

.back_to_top {
    text-decoration: none;
    color: burlywood;
    font-weight: 700;
    font-size: 1.75em;
}

.main-section {
    padding: 1em;
}

.header-title {
    padding: 0.50em 0em;
    background-color: darkslategray;
    font-weight: 700;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: .50em;
}


/* Nav Start */

.nav-container {
    background-color: darkslategray;
    padding: 1em 0;
}

.nav-title {
    font-size: 1.125rem;
    font-weight: 700;
}

.nav-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .50em;
    padding: 1em 0 0 0;
    margin: 0;
}

.nav-list {
    list-style-type: none;
}

.nav-item {
    border-top: 2px solid black;
    padding: .25em 0;
    margin: 0;
    width: 100%;
}

.nav-link {
    text-decoration: none;
    color: burlywood;
}

.nav-link:hover,
.nav-link:focus {
    opacity: 0.7;
}


/* Nav End */


/* Media Queries */

@media (min-width: 700px) {
    .nav-container {
        display: block;
        position: fixed;
        left: 0;
        border-right: 10px solid gray;
        width: 30%;
        top: 0;
        bottom: 0;
    }
    .nav-list {
        visibility: visible;
        display: block;
    }
    .nav-item {
        padding: .75em 0;
    }
    #main-doc {
        width: 70%;
        position: absolute;
        right: 0;
    }
    #backBtn {
        width: 4%;
        height: 7%;
    }
}